version: '3'
services:
  tox:
    image: gitmachete/ci-tox:git${GIT_VERSION}-python${PYTHON_VERSION}-${DIRECTORY_HASH:-unspecified}
    build:
      context: build-context
      dockerfile: ../Dockerfile # relative to build-context
      args:
        - git_version=${GIT_VERSION:-0.0.0}
        - python_version=${PYTHON_VERSION:-0.0.0}
    environment:
      - BUILD_SPHINX_DOCS=${BUILD_SPHINX_DOCS:-false}
      - CHECK_CMD_DOCS_UP_TO_DATE=${CHECK_CMD_DOCS_UP_TO_DATE:-false}
      - CHECK_COVERAGE=${CHECK_COVERAGE:-false}
      - CHECK_PEP8=${CHECK_PEP8:-false}
    volumes:
      # Host path is relative to current directory, not build-context
      - ../..:/git-machete
