# Editors
.idea/
*.swp

# Python
AUTHORS
ChangeLog
build/
.coverage*
coverage.xml
dist/
docs/html/
# See https://stackoverflow.com/a/21643672 for why not just `docs/man/`
docs/man/**
!docs/man/git-machete.1
docs/man-compare
*.egg-info/
.eggs/
htmlcov/
*.pyc
.python-version
test-results/
.tox/
venv/

# Snapcraft
parts/
prime/
*.snap
stage/

# MacOS
.DS_Store
