# Editors
.idea/
*.swp
.vscode/

# MacOS
.DS_Store

# Python
AUTHORS
ChangeLog
build/
.coverage
.coverage.*
coverage.xml
dist/
docs/html/
# See https://stackoverflow.com/a/21643672 for why not just `docs/man/`
docs/man/**
!docs/man/git-machete.1
docs/man-compare
*.egg-info/
.eggs/
htmlcov/
*.log
*.pyc
.python-version
test-results/
.tox/
venv/

# Snapcraft
.fuse_hidden*
parts/
prime/
*.snap
stage/
