# Editors
.idea/
*.swp

# Python
AUTHORS
ChangeLog
build/
.coverage
dist/
*.egg-info/
.eggs/
htmlcov/
*.pyc
.python-version
.stestr/
.tox/
venv/

# Snapcraft
parts/
prime/
*.snap
stage/

# MacOS
.DS_Store
