language: python
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27
    - python: 3.6
      env: TOXENV=py36
    - python: 2.7  # TODO: bump to 3.6
      env: TOXENV=pep8
install: pip install tox
script: tox
