version: 2.1

executors:
  ubuntu_executor:
    machine:
      image: ubuntu-2004:202111-02
    environment:
      # Needed to avoid warning: https://superuser.com/questions/575844/warning-terminal-is-not-fully-functional
      TERM: ansi

jobs:
  "general checks":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update

            # For ensure-completion-scripts-correct.sh
            sudo apt-get install zsh fish

            # For ensure-shell-scripts-pass-shellcheck.sh
            sudo apt-get install shellcheck

            # For ensure-links-correct.sh
            npm install --global remark-cli remark-lint-no-dead-urls remark-validate-links
      - run:
          name: Perform general checks
          command: |
            # We don't want `less` to open for `git grep` results.
            export GIT_PAGER=cat

            PATH=./ci/checks:$PATH
            set -x
            enforce-correct-shebangs.sh
            enforce-indent-two-spaces-outside-python.sh
            enforce-issue-number-for-todos.sh
            ensure-completion-scripts-correct.sh
            ensure-links-correct.sh
            ensure-release-notes-up-to-date.sh
            ensure-shell-scripts-pass-shellcheck.sh
            ensure-version-bumped.sh
            prohibit-deploy-step-in-circleci.sh
            prohibit-tab-character.sh
            prohibit-trailing-whitespace.sh

  "test against python 3_6 and git 1_8_10":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Run tests against Python 3.6 and git 1.8.0
          command: PYTHON_VERSION=3.6 GIT_VERSION=1.8.0  bash ci/tox/ci-run.sh # Earliest versions of python/git supported by git-machete
      - store_test_results:
          path: test-results/

  "test against python 3_7 and git 2_7_6":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Run tests against Python 3.7 and git 2.7.6
          command: PYTHON_VERSION=3.7 GIT_VERSION=2.7.6  bash ci/tox/ci-run.sh
      - store_test_results:
          path: test-results/

  # Note that there is no particular reason for the below assignment of PEP8/coverage/docs checks to Python version.
  # Each of these needs to be run against just one Python version
  # (since there's very little chance that they pass under one version but fail under another),
  # so let's spread these checks evenly across versions to reduce CI latency
  # (when compared to the scenario where all checks are executed under the same Python version).

  "test against python 3_8 and git 2_25_0 with PEP8 check":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Run tests against Python 3.8 and git 2.25.0 (with PEP8 check)
          command: PYTHON_VERSION=3.8 GIT_VERSION=2.25.0 CHECK_PEP8=true  bash ci/tox/ci-run.sh
      - store_test_results:
          path: test-results/

  "test against python 3_9 and git 2_30_1 with coverage report":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Run tests against Python 3.9 and git 2.30.1 (with coverage report)
          command: PYTHON_VERSION=3.9 GIT_VERSION=2.30.1 CHECK_COVERAGE=true  bash ci/tox/ci-run.sh
      - store_test_results:
          path: test-results/
      - store_artifacts:
          path: htmlcov/
          destination: coverage

  "test against python 3_10 and git 2_33_1 with building docs":
    executor: ubuntu_executor
    steps:
      - checkout
      - run:
          name: Run tests against Python 3.10 and git 2.33.1 (with building docs)
          command: PYTHON_VERSION=3.10 GIT_VERSION=2.33.1 BUILD_DOCS=true  bash ci/tox/ci-run.sh
      - store_test_results:
          path: test-results/
      - store_artifacts:
          path: docs/html/
          destination: docs

  "dry run deploy":
    executor: ubuntu_executor
    steps:
      - checkout

      - run:
          name: '[Dry run] Deploy to PyPI'
          # Side effects: does an actual release, but to the test PyPI
          command: bash ci/pypi/ci-deploy.sh --dry-run

      - run:
          name: '[Dry run] Update Homebrew tap with local installation test'
          # Prerequisites: artifacts must be released to test PyPI first
          command: bash ci/homebrew-tap/ci-deploy.sh --dry-run

      - run:
          name: '[Dry run] Publish image to Docker Hub'
          command: bash ci/docker/ci-deploy.sh --dry-run

      - run:
          name: '[Dry run] Build & upload deb package to PPA'
          # Side effects: potentially pushes a regenerated Docker image
          command: bash ci/deb-ppa-upload/ci-deploy.sh --dry-run

      - run:
          name: '[Dry run] Build Nix package'
          # Side effects: potentially pushes a regenerated Docker image
          # Other than that, it just builds the package without publishing anything; there's no special dry-run mode
          command: bash ci/nixpkgs-build/ci-run.sh

      - run:
          name: '[Dry run] Build snap'
          command: bash ci/snap/ci-run.sh

      - run:
          name: '[Dry run] Build rpm package'
          # Side effects: potentially pushes a regenerated Docker image
          # Other than that, it just builds the package without publishing anything; there's no special dry-run mode
          command: bash ci/rpm/ci-run.sh

  "deploy from master":
    executor: ubuntu_executor
    steps:
      - checkout

      - run:
          name: 'Deploy to PyPI'
          command: bash ci/pypi/ci-deploy.sh

      - run:
          name: 'Update Homebrew tap'
          # Prerequisites: artifacts must be released to PyPI first
          command: bash ci/homebrew-tap/ci-deploy.sh

      - run:
          name: 'Publish image to Docker Hub'
          command: bash ci/docker/ci-deploy.sh

      - run:
          name: 'Build & upload deb package to PPA'
          command: bash ci/deb-ppa-upload/ci-deploy.sh

      - run:
          name: 'Build rpm package'
          command: bash ci/rpm/ci-run.sh

      # Let's do this at the very end to avoid opening a GH release (and notifying the watchers)
      # in case anything goes wrong in the previous steps.
      - run:
          name: 'Create GitHub release'
          # Prerequisites: RPM package must be in dist/
          command: |
            sudo apt-get update
            sudo apt-get install hub
            bash ci/github-releases/ci-deploy.sh

      # Note: there are also releases happening outside of our CI:
      # 1) every time a commit is pushed to `master`, a Snap build for `edge` channel
      #    is triggered automatically via GitHub webhook on https://build.snapcraft.io/user/VirtusLab/git-machete,
      # 2) every time a commit is pushed to `develop` or `master`, a build for docs (`latest` or `stable` version, respectively)
      #    is triggered automatically via GitHub webhook on https://readthedocs.org/projects/git-machete/builds/,
      # 3) every time a https://github.com/r-ryantm bot runs on NixOS/nixpkgs repository,
      #    Nix git-machete package is updated with the fresh version/package hash according to the data from PyPI.

mandatory_jobs: &mandatory_jobs
  - general checks
  - test against python 3_6 and git 1_8_10
  - test against python 3_7 and git 2_7_6
  - test against python 3_8 and git 2_25_0 with PEP8 check
  - test against python 3_9 and git 2_30_1 with coverage report
  - test against python 3_10 and git 2_33_1 with building docs

workflows:
  version: 2
  build:
    jobs:
      - general checks
      - test against python 3_6 and git 1_8_10
      - test against python 3_7 and git 2_7_6
      - test against python 3_8 and git 2_25_0 with PEP8 check
      - test against python 3_9 and git 2_30_1 with coverage report
      - test against python 3_10 and git 2_33_1 with building docs
      - dry run deploy:
          filters:
            branches:
              only:
                - "develop"
                - "/hotfix.*/"
                - "code_quality/version_extraction
          requires:
            *mandatory_jobs
      - deploy from master:
          filters:
            branches:
              only: "master"
          requires:
            *mandatory_jobs
