version: 2.1

executors:
  macos_executor:
    macos:
      # https://circleci.com/docs/using-macos/#supported-xcode-versions
      xcode: 16.4.0
    # https://circleci.com/docs/using-macos/#available-resource-classes
    # https://circleci.com/pricing/#comparison-table
    resource_class: m4pro.medium
  ubuntu_executor:
    machine:
      # https://circleci.com/developer/images?imageType=machine
      image: ubuntu-2404:2025.09.1
    environment:
      # Needed to avoid warning: https://superuser.com/questions/575844/warning-terminal-is-not-fully-functional
      TERM: ansi
    resource_class: large
  windows_executor:
    machine:
      # https://circleci.com/developer/images?imageType=machine
      image: windows-server-2025-gui:2025.10.1
      shell: bash.exe
    # https://circleci.com/docs/using-windows/#available-resource-classes
    # https://circleci.com/pricing/#comparison-table
    resource_class: windows.large

orbs:
  codecov: codecov/codecov@5.4.3

commands:
  python_git_tests:
    parameters:
      python:
        type: string
      git:
        type: string
    steps:
      - checkout: {method: blobless}
      - run:
          name: Run tests against Python <<parameters.python>> and git <<parameters.git>>
          command: PYTHON_VERSION=<<parameters.python>> GIT_VERSION=<<parameters.git>>  bash ci/tox/ci-run.sh
      - store_test_results:
          path: test-results/
      - persist_to_workspace:
          root: .
          paths: [ .coverage.* ]

jobs:
  "general checks":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - run:
          name: Install dependencies
          # language=sh
          command: |
            set -x

            python --version
            pip3 install tox

            # For enforce-shell-scripts-pass-shellcheck.sh
            sudo apt-get install shellcheck

            # For enforce-links-correct.sh
            npm install --global remark-cli remark-validate-links
      - run:
          name: Perform general checks
          command: ci/checks/run-all-checks.sh
      - run:
          name: Check code style
          command: tox -e isort-check,flake8-check,typos-check,vulture-check
      - run:
          name: Verify docs
          command: tox -e py-docs-check,sphinx-man-check,sphinx-html
      - store_artifacts:
          path: docs/html/
          destination: docs

  "completion tests":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - run:
          name: Install dependencies
          # language=sh
          command: |
            set -x
            python --version
            pip3 install tox

            # `add-apt-repository` was getting stuck on CI for some reason
            fish_major_version=4
            url=https://ppa.launchpadcontent.net/fish-shell/release-${fish_major_version}/ubuntu
            echo "deb     $url jammy main" | sudo tee -a /etc/apt/sources.list
            echo "deb-src $url jammy main" | sudo tee -a /etc/apt/sources.list
            sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 73C9FCC9E2BB48DA
            sudo apt-get update
            sudo apt-get install fish
            fish --version

            sudo apt-get install zsh
      - run:
          name: Test shell completions
          command: tox -e test-completions -- -vv
      - store_test_results:
          path: test-results/

  # Earliest versions of python/git supported by git-machete
  "python 3_6 git 1_8_0":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.6"
          git: 1.8.0

  "python 3_7 git 2_7_6":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.7"
          git: 2.7.6

  "python 3_8 git 2_25_0":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.8"
          git: 2.25.0

  "python 3_9 git 2_30_1":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.9"
          git: 2.30.1

  "python 3_10 git 2_33_1":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.10"
          git: 2.33.1

  "python 3_11 git 2_38_1":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.11"
          git: 2.38.1

  # v2.46.1 needs to be covered as it introduced a bug in `git patch-id` (see issue #1329), already fixed in v2.46.2
  "python 3_12 git 2_46_1":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.12"
          git: 2.46.1

  "python 3_13 git 2_47_0":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.13"
          git: 2.47.0

  "python 3_14 git 2_51_0":
    executor: ubuntu_executor
    steps:
      - python_git_tests:
          python: "3.14"
          git: 2.51.0

  # Note the while we use Linux executor to test against specific Python&git version,
  # on macOS and Windows we're just checking compatibility with the OS itself,
  # relying on whatever recent versions of Python and git are provided in the image.

  "macos tests":
    executor: macos_executor
    steps:
      - checkout: {method: blobless}
      - run: brew install fish zsh
      - run: pip install tox
      # TODO (#1005): make zsh completion tests pass on macOS machine on CI
      - run: tox -e test-completions -- -vv -k "not zsh"
      - run: PYTHON_VERSION=3-macos  tox -e coverage -- -vv
      - store_test_results:
          path: test-results/
      - persist_to_workspace:
          root: .
          paths: [ .coverage.* ]

  "windows tests":
    executor: windows_executor
    steps:
      - checkout: {method: blobless}
      - run: pip install tox
      - run: PYTHON_VERSION=3-windows tox -e coverage -- -vv
      - store_test_results:
          path: test-results/
      - persist_to_workspace:
          root: .
          paths: [ .coverage.* ]

  "coverage upload":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - attach_workspace:
          at: .
      - run: pip3 install tox
      - run: tox -e coverage-combine
      - codecov/upload:
          disable_search: true  # otherwise, requirements/coverage.txt gets picked up
          files: coverage.xml

  "dry run releases":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}

      - run:
          name: '[Dry run] Publish to PyPI'
          # Side effects: does an actual release, but to the test PyPI
          command: bash ci/pypi/ci-deploy.sh --test-pypi

      - run:
          name: '[Dry run] Build Arch Linux package'
          # Side effects: potentially pushes a regenerated Docker image
          # Other than that, it just builds the package without publishing anything; there's no special dry-run mode
          command: bash ci/aur/ci-run.sh

      - run:
          name: '[Dry run] Build Nix package'
          # Side effects: potentially pushes a regenerated Docker image
          # Other than that, it just builds the package without publishing anything; there's no special dry-run mode
          command: bash ci/nixpkgs/ci-run.sh

      - run:
          name: '[Dry run] Build snap'
          command: bash ci/snap/ci-deploy.sh --dry-run

  "publish to pypi":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - run:
          name: 'Publish to PyPI'
          command: bash ci/pypi/ci-deploy.sh

  "publish snap to the stable channel":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - run:
          name: 'Publish snap to the stable channel'
          command: bash ci/snap/ci-deploy.sh

  "create github release and close milestone":
    executor: ubuntu_executor
    steps:
      - checkout: {method: blobless}
      - run:
          name: 'Create GitHub release and close milestone'
          # language=sh
          command: |
            sudo apt-get update
            sudo apt-get install gh
            bash ci/github/create-release.sh
            bash ci/github/close-milestone.sh


# Note that these top-level keys are NOT consumed by CircleCI,
# they're just to introduce reusable anchors to be referenced further down the line.
test_jobs: &test_jobs
  - general checks
  - completion tests
  - python 3_6 git 1_8_0
  - python 3_7 git 2_7_6
  - python 3_8 git 2_25_0
  - python 3_9 git 2_30_1
  - python 3_10 git 2_33_1
  - python 3_11 git 2_38_1
  - python 3_12 git 2_46_1
  - python 3_13 git 2_47_0
  - python 3_14 git 2_51_0
  - macos tests
  - windows tests

only_master: &only_master
  filters:
    branches:
      only: "master"

only_special_branches: &only_special_branches
  filters:
    branches:
      only:
        - "/.*(ci|dependabot.pip|deploy|dry.run|hotfix|publish|release|windows).*/"
        - "develop"
        - "master"

workflows:
  version: 2
  build:
    jobs:
      - general checks
      - completion tests
      - python 3_6 git 1_8_0
      - python 3_7 git 2_7_6
      - python 3_8 git 2_25_0
      - python 3_9 git 2_30_1
      - python 3_10 git 2_33_1
      - python 3_11 git 2_38_1
      - python 3_12 git 2_46_1
      - python 3_13 git 2_47_0
      - python 3_14 git 2_51_0
      # MacOS and esp. Windows tests take a relatively long time on critical path,
      # and fail very rarely in isolation (i.e. in cases when tests on Linux don't fail).
      - macos tests:
          <<: *only_special_branches
      - windows tests:
          <<: *only_special_branches
      - coverage upload:
          # Note that the jobs that were skipped due to the `filter` are apparently not treated as required.
          requires:
            *test_jobs
      - dry run releases:
          <<: *only_special_branches
          requires:
            *test_jobs

      # Let's keep each release in a separate job (rather than in separate step of a single job),
      # so that CircleCI allows for re-running just the failed releases in case of a transient failure.
      - publish to pypi:
          <<: *only_master
          requires:
            - dry run releases
      - publish snap to the stable channel:
          <<: *only_master
          requires:
            - dry run releases
      # Let's create a GitHub release even if some of the other release steps failed,
      # to keep GitHub release history consistent
      - create github release and close milestone:
          <<: *only_master
          requires:
            - dry run releases

      # Note: most releases happen outside of our CI, see PACKAGES.md
